
            <ons-list-item style="grid-auto-rows: max-content;">
              <ons-row>
                  <ons-col width="100px" style="margin-bottom: 10px;"><img src="../images/m1.jpg" style="width: 300px; height: 400px;"></ons-col>
                  <ons-col style="margin-left: 10px; margin-top: 10px"> 
                  </ons-col>เรื่องราวชีวิตในรั้วมหาวิทยาลัยของ 2 สัตว์ประหลาดนักหลอน ไมค์ วาซอว์สกี้ และ เจมส์ พี. ซัลลิแวน 
                    ก่อนที่ทั้งคู่จะเป็นเพื่อนซี้กัน และเหล่าสัตว์ประหลาดตัวอื่นๆ กับชีวิตวัยรุ่นสุดมันส์ ใครจะไปรู้ละว่า 
                    ก่อนที่ไมค์กับซัลลี่จะกลายมาเป็นเพื่อนซี้กันขนาดนี้ เขาเคยเกลียดขี้หน้ากันขนาดไหนตอนอยู่มหาวิทยาลัย!
                </ons-row>

