<ons-row>
    <ons-col width="100px" style="margin-bottom: 10px;"><img src="../images/m2.jpg" style="width: 300px; height: 400px;"></ons-col>
    <ons-col style="margin-left: 10px; margin-top: 10px"> 
    </ons-col>เรื่องราวการผจญภัยครั้งใหม่ของ วู้ดดี้ ที่เริ่มต้นชีวิตในบ้านของเจ้าของคนใหม่ คือ บอนนี่ ซึ่งเธอได้ใช้ช้อนกึ่งส้อม
       ประดิษฐ์ออกมาเป็นของเล่นใหม่ที่ตั้งชื่อว่า ฟอร์คกี้ แต่เจ้าฟอร์คกี้ รู้ว่าแท้จริงเขาไม่ใช่ของเล่นแต่เป็นขยะ จึงอยากกลับไปสู่ชีวิตที่แท้จริง เดือดร้อนถึงวู้ดดี้ต้องตามกลับมา 
       กลายเป็นการผจญภัยของเหล่าของเล่นครั้งใหม่ รวมถึงการกลับมาของ โบ ของเล่นหวานใจของวู้ดดี้ที่เธอกลับมาในมาดใหม่เป็นสาวสุดแกร่งด้วย
  </ons-row>