<ons-row>
    <ons-col width="100px" style="margin-bottom: 10px;"><img src="../images/m3.jpg" style="width:300px; height: 400px;"></ons-col>
    <ons-col style="margin-left: 10px; margin-top: 10px"> 
    </ons-col>เรื่องราวดี ๆ ของ "คาร์ล เฟร็ดดิกเซน" ชายชราขายลูกโป่งวัย 78 ปี ผู้ซึ่งในที่สุดก็ได้ทำความฝันที่จะได้ผจญภัยให้เป็นจริงเสียที เมื่อเขาผูกลูกโป่งนับพันเข้ากับบ้านของเขาและโบยบินไปสู่ผืนป่าเซาธ์ 
      อเมริกา แต่เขาก็มารู้เอาเมื่อสายไปแล้วว่า ฝันร้ายของเขาก็แอบร่วมทริปเดินทางมากับเขาด้วย และฝันร้ายนั้นก็มาในรูปแบบของลูกเสือนักสำรวจวัย 8 ขวบ 
      ที่มองโลกในแง่ดีเกินเหตุที่มีชื่อว่า "รัสเซล" การเดินทางสู่ดินแดนที่อารยธรรมสาบสูญ ที่ซึ่งพวกเขาได้พบตัวละครแปลกประหลาดที่น่าตกใจมากมาย เต็มไปด้วยความขบขัน 
      ความอบอุ่นหัวใจและการผจญภัยสุดบรรเจิด
  </ons-row>