<ons-page id="home">
    <ons-carousel swipeable auto-scroll id="homemovie">
        <ons-carousel-item modifier="nodivider" id="Movie1" onclick="openMovieDetails(this.id)">
          <img src="../images/m1.jpg" width="100%" height="500"/>
        </ons-carousel-item>
        <ons-carousel-item modifier="nodivider" id="Movie2" onclick="openMovieDetails(this.id)">
          <img src="../images/m2.jpg" width="100%" height="500"/>
        </ons-carousel-item>
        <ons-carousel-item modifier="nodivider" id="Movie3" onclick="openMovieDetails(this.id)">
          <img src="../images/m3.jpg" width="100%" height="500"/>
        </ons-carousel-item>
      </ons-carousel>
      <div>
        <h2 style="text-align: center;">Top 10 of August</h2>
      </div>
</ons-page>