.toolbar {
    background-color: rgb(220, 20, 120);
    color: white;
    text-align: center;
    font-size: 27px;
    padding-left: 5px;
}

.tabbar{
    background-color: rgb(220, 20, 120);
}

#carousel{
    width: 350;
    height: 525;
}